.fond{
    background-image: url("../../images/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 108vh;
    margin-top: -15px;
    
}
.title-one{
    font-size: 53px;
    padding-top: 45px;
    font-family: Parisienne, Sans-serif;
}
.title-two{
    font-size: 45px;
    font-family: Parisienne, Sans-serif;
}


.list li {
    list-style-type:disclosure-open;
}
.box p{
    font-family: "Noto Serif",serif;
    font-size: 14px;
    line-height: 25px;
    color: #8f8f8f;
    font-weight: 400;
}
.box-item{
    background-image: url("../../images/shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    background-position: center;
}
.box-item h3{
    font-family: "Sorts Mill Goudy";
}
.photo-women{
    background-color: #ebe2dd !important;
}
.section-eight h1{
    font-size: 5.5rem;
    font-family: "Sorts Mill Goudy";
    margin-bottom: 2rem;
}
.section-eight h6{
    font-family: "Sorts Mill Goudy";
    font-size: 28px;
    margin-bottom: 2rem;
}
.match{
    font-size: 4.5rem !important;
}
.section-ten{
    background-color: #efeae0;
}
.collection-title{
    font-family: "Sorts Mill Goudy";
}
.img-five{
    margin-top: -4rem;
    letter-spacing: 2px;
}
h1{
    font-family: "Sorts Mill Goudy";
}
.section-eleven{
    background-image: url("../../images/6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 47vh;
}
.section-eleven input{
    background-color: transparent;
    width: 42rem;
}
.icons{
    background-color: #bdbdbb;
    border-radius: 63px;
    padding: 22px 30px 10px 23px;
    height: 5rem;
}